.homeBox{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
   

}

.homeNational{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
   flex-wrap: wrap;
}

.test{
    background-color: red;
}

.h1{
    font-size: 20px;
    text-align: start;
    margin-left: 65px;
    font-weight: bold;
    margin-top: 50px;
}

